# AJ CODE SECTION

In [1]:
import pandas as pd
import datetime as dt

# MAROOF CODE SECTION

In [ ]:
import pandas as pd
import datetime as dt

# AALIYAH CODE SECTION

*delay or nonreceipt of needed medical care Data* https://www.cdc.gov/nchs/hus/data-finder.htm

In [101]:
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt

In [127]:
health_age_data = pd.read_csv(r'Resources\Aaliyah Data\Health_Age_Data.csv')

health_age_data.head()

,Characteristic,1997,SE,1998,SE.1,1999,SE.2,2000,SE.3,2001,...,2015,SE.18,2016,SE.19,2017,SE.20,2018,SE.21,2019,SE.22
0,Under 19 years,4.5,0.2,4.4,0.2,4.3,0.2,4.7,0.2,4.7,...,2.8,0.2,2.6,0.2,2.8,0.2,2.9,0.2,1.7,0.2
1,Under 18 years,4.4,0.2,4.3,0.2,4.2,0.2,4.6,0.2,4.7,...,2.7,0.2,2.4,0.2,2.6,0.2,2.8,0.2,1.6,0.2
2,Under 6 years,3.3,0.2,3.4,0.2,4.1,0.3,3.6,0.3,3.7,...,2.2,0.2,1.7,0.2,2.0,0.2,2.8,0.3,1.2,0.2
3,6–17 years,4.9,0.2,4.8,0.2,4.3,0.2,5.0,0.2,5.2,...,2.9,0.2,2.8,0.2,2.9,0.2,2.9,0.2,1.8,0.2
4,18–64 years,10.7,0.2,9.5,0.2,9.2,0.2,9.2,0.2,9.5,...,9.8,0.2,9.8,0.2,10.0,0.2,11.0,0.2,12.1,0.3

In [122]:
#residence_location_data =

#residence_location_data.head()

In [123]:
#residence_location_data.columns

In [124]:
#residence_location_data = residence_location_data.set_index('Characteristic')

#residence_location_data

In [125]:
#residence_within_msa = residence_location_data.loc['Within MSA']

#years = [col for col in residence_within_msa.index if not col.startswith('SE')]

#values = residence_within_msa[years].values

#plt.figure(figsize=(15,4))
#plt.plot(years, values, marker='o')
#plt.xlabel('Year')
#plt.ylabel('Value')
#plt.title('Data for Within MSA')
#plt.grid(True)
#plt.show()

# ALEXANDRA CODE SECTION

In [31]:
import pandas as pd
import datetime as dt

This is working