# AJ CODE SECTION

In [1]:
import pandas as pd
import datetime as dt

# MAROOF CODE SECTION

In [ ]:
import pandas as pd
import datetime as dt

# AALIYAH CODE SECTION

*delay or nonreceipt of needed medical care Data* https://www.cdc.gov/nchs/hus/data-finder.htm

In [2]:
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt

In [3]:
health_age_data = pd.read_csv(r'Resources\Aaliyah Data\Health_Age_Data.csv')

health_age_data.head()

,Characteristic,1997,SE,1998,SE.1,1999,SE.2,2000,SE.3,2001,...,2015,SE.18,2016,SE.19,2017,SE.20,2018,SE.21,2019,SE.22
0,Under 19 years,4.5,0.2,4.4,0.2,4.3,0.2,4.7,0.2,4.7,...,2.8,0.2,2.6,0.2,2.8,0.2,2.9,0.2,1.7,0.2
1,Under 18 years,4.4,0.2,4.3,0.2,4.2,0.2,4.6,0.2,4.7,...,2.7,0.2,2.4,0.2,2.6,0.2,2.8,0.2,1.6,0.2
2,Under 6 years,3.3,0.2,3.4,0.2,4.1,0.3,3.6,0.3,3.7,...,2.2,0.2,1.7,0.2,2.0,0.2,2.8,0.3,1.2,0.2
3,6–17 years,4.9,0.2,4.8,0.2,4.3,0.2,5.0,0.2,5.2,...,2.9,0.2,2.8,0.2,2.9,0.2,2.9,0.2,1.8,0.2
4,18–64 years,10.7,0.2,9.5,0.2,9.2,0.2,9.2,0.2,9.5,...,9.8,0.2,9.8,0.2,10.0,0.2,11.0,0.2,12.1,0.3

In [4]:
geographic_data = pd.read_csv(r'Resources\Aaliyah Data\Geographic_Region_Health_Data.csv')

geographic_data.head()

,Characteristic,1997,SE,1998,SE.1,1999,SE.2,2000,SE.3,2001,...,2015,SE.18,2016,SE.19,2017,SE.20,2018,SE.21,2019,SE.22
0,Northeast,8.8,0.3,8.1,0.4,7.4,0.3,7.6,0.3,7.6,...,7.7,0.4,6.8,0.4,6.8,0.4,8.7,0.4,8.3,0.6
1,Midwest,10.5,0.3,9.0,0.4,8.7,0.3,8.4,0.3,8.7,...,9.9,0.4,10.1,0.4,10.3,0.4,11.2,0.4,11.6,0.6
2,South,11.8,0.3,10.8,0.3,10.4,0.3,10.3,0.3,10.8,...,11.0,0.3,11.7,0.3,11.8,0.4,12.6,0.4,15.0,0.5
3,West,10.8,0.3,9.1,0.3,9.4,0.4,9.9,0.4,9.8,...,9.5,0.4,8.9,0.3,9.3,0.4,10.2,0.4,10.8,0.5

In [5]:
health_education_level_data = pd.read_csv(r"Resources\Aaliyah Data\Health_Education_Level_Data.csv")


health_education_level_data.head()

,Characteristic,1997,SE,1998,SE.1,1999,SE.2,2000,SE.3,2001,...,2015,SE.18,2016,SE.19,2017,SE.20,2018,SE.21,2019,SE.22
0,No high school diploma or GED,16.2,0.5,15.5,0.5,13.7,0.5,13.6,0.5,14.9,...,14.0,0.6,14.2,0.6,15.3,0.7,15.6,0.7,20.6,1.3
1,High school diploma or GED,11.1,0.3,9.7,0.3,10.2,0.3,9.9,0.3,9.2,...,11.4,0.4,11.3,0.4,11.0,0.4,12.7,0.4,14.5,0.6
2,Some college or more,9.2,0.2,8.0,0.2,7.7,0.2,7.7,0.2,8.2,...,9.2,0.2,9.1,0.2,9.4,0.2,10.6,0.2,10.3,0.3

In [6]:
health_hispanic_race_data = pd.read_csv(r"Resources\Aaliyah Data\Health_Hispanic_Race_Data.csv")

health_hispanic_race_data = health

,Characteristic,1997,SE,1998,SE.1,1999,SE.2,2000,SE.3,2001,...,2015,SE.18,2016,SE.19,2017,SE.20,2018,SE.21,2019,SE.22
0,Hispanic or Latino,10.5,0.4,9.4,0.4,8.6,0.3,8.6,0.3,9.9,...,10.8,0.4,9.4,0.4,10.3,0.5,10.2,0.5,15.6,0.8
1,Mexican,9.7,0.5,8.5,0.5,7.9,0.4,7.6,0.4,9.3,...,11.0,0.5,9.4,0.6,10.3,0.6,9.2,0.6,15.4,0.9
2,Not Hispanic or Latino,10.7,0.2,9.5,0.2,9.3,0.2,9.3,0.2,9.4,...,9.6,0.2,9.8,0.2,9.9,0.2,11.2,0.2,11.3,0.3
3,White only,10.9,0.2,9.5,0.2,9.4,0.2,9.4,0.2,9.4,...,9.7,0.2,10.0,0.2,10.1,0.2,11.4,0.2,11.2,0.3
4,Black or African American only,10.8,0.4,10.3,0.4,9.4,0.4,9.5,0.4,10.1,...,11.1,0.5,10.8,0.5,11.0,0.5,11.9,0.6,14.4,1.0

In [7]:
health_ins_status_data = pd.read_csv(r"Resources\Aaliyah Data\Health_Ins_Status_Data.csv")

health_ins_status_data.head()

,Characteristic,1997,SE,1998,SE.1,1999,SE.2,2000,SE.3,2001,...,2015,SE.18,2016,SE.19,2017,SE.20,2018,SE.21,2019,SE.22
0,Insured,6.8,0.1,5.8,0.1,5.7,0.1,5.7,0.1,5.9,...,7.2,0.2,7.4,0.2,7.4,0.2,8.2,0.2,8.0,0.2
1,Private,6.0,0.1,5.1,0.1,5.0,0.1,5.0,0.1,5.1,...,6.2,0.2,6.6,0.2,6.7,0.2,7.8,0.2,7.3,0.3
2,Medicaid,11.9,0.6,10.8,0.7,11.4,0.7,12.7,0.7,12.3,...,10.5,0.4,9.7,0.4,9.2,0.4,9.4,0.5,10.3,0.7
3,Uninsured,27.6,0.5,26.6,0.5,25.8,0.6,24.7,0.6,25.5,...,28.1,0.7,27.4,0.7,28.0,0.8,30.2,0.8,36.3,1.2

In [8]:
health_race_data  = pd.read_csv(r"Resources\Aaliyah Data\Health_Race_Data.csv")


health_race_data.head()

,Characteristic,1997,SE,1998,SE.1,1999,SE.2,2000,SE.3,2001,...,2015,SE.18,2016,SE.19,2017,SE.20,2018,SE.21,2019,SE.22
0,White only,10.8,0.2,9.5,0.2,9.3,0.2,9.3,0.2,9.4,...,9.9,0.2,9.9,0.2,10.1,0.2,11.1,0.2,11.9,0.3
1,Black or African American only,10.8,0.4,10.3,0.4,9.4,0.4,9.5,0.4,10.3,...,11.0,0.4,10.7,0.5,10.9,0.5,11.9,0.6,14.5,0.9
2,American Indian or Alaska Native only,14.5,2.0,14.2,1.8,10.4,1.7,12.8,1.9,12.9,...,9.8,1.4,9.7,1.7,9.3,1.6,12.5,2.2,13.6,2.8
3,Asian only,…,…,…,…,5.3,0.7,5.2,0.6,5.7,...,4.8,0.4,4.6,0.5,5.1,0.5,5.8,0.6,5.1,0.9
4,Native Hawaiian or Other Pacific Islander only,…,…,…,…,*,*,*,*,*,...,*,*,16.3,4.0,*,*,*,*,*,*

In [11]:
health_sex_data = pd.read_csv(r"Resources\Aaliyah Data\Health_Sex_Data.csv")

health_sex_data.head()

,Characteristic,1997,SE,1998,SE.1,1999,SE.2,2000,SE.3,2001,...,2015,SE.18,2016,SE.19,2017,SE.20,2018,SE.21,2019,SE.22
0,Male,9.3,0.2,8.5,0.2,8.0,0.2,8.0,0.2,8.5,...,8.9,0.2,9.1,0.2,9.1,0.2,10.8,0.2,10.3,0.4
1,Female,12.0,0.2,10.4,0.2,10.3,0.2,10.4,0.2,10.4,...,10.7,0.2,10.4,0.2,10.8,0.2,11.3,0.2,13.9,0.4

In [12]:
percent_poverty_level_data = pd.read_csv(r"Resources\Aaliyah Data\Percent_Poverty_Level_Data.csv")

percent_poverty_level_data.head()

,Characteristic,1997,SE,1998,SE.1,1999,SE.2,2000,SE.3,2001,...,2015,SE.18,2016,SE.19,2017,SE.20,2018,SE.21,2019,SE.22
0,Below 100%,19.6,0.6,19.1,0.7,17.7,0.6,18.4,0.7,17.6,...,16.6,0.6,15.2,0.6,16.2,0.6,17.2,0.7,20.4,1.1
1,100%–199%,17.9,0.4,16.5,0.5,16.1,0.5,15.8,0.5,16.8,...,15.9,0.5,16.3,0.5,15.3,0.5,17.1,0.6,20.2,0.8
2,200%–399%,10.5,0.3,9.3,0.3,9.8,0.3,9.6,0.3,10.2,...,10.8,0.4,10.6,0.4,11.6,0.4,13.0,0.4,13.5,0.5
3,400% or more,4.6,0.2,4.0,0.2,4.0,0.2,4.0,0.2,4.0,...,4.2,0.2,4.9,0.2,5.1,0.2,5.7,0.2,5.0,0.3

In [13]:
poverty_percent_per_race_data = pd.read_csv(r"Resources\Aaliyah Data\Poverty_Level_Per_Race_Data.csv")


poverty_percent_per_race_data.head()

,Characteristic,1997,SE,1998,SE.1,1999,SE.2,2000,SE.3,2001,...,2015,SE.18,2016,SE.19,2017,SE.20,2018,SE.21,2019,SE.22
0,(Hispanic or Latino): Below 100%,14.6,0.8,12.6,0.8,11.2,0.8,12.1,0.8,13.9,...,16.0,0.9,13.0,1.2,15.5,1.3,15.4,1.3,22.9,2.0
1,(Hispanic or Latino): 100%–199%,12.2,0.8,12.1,0.8,10.7,0.8,10.9,0.8,11.3,...,12.5,0.7,11.4,0.9,12.7,1.0,11.5,0.9,20.4,1.7
2,(Hispanic or Latino): 200%–399%,8.0,0.6,7.2,0.6,7.7,0.6,6.8,0.6,8.5,...,8.9,0.6,8.6,0.8,8.3,0.8,9.6,0.8,12.6,1.2
3,(Hispanic or Latino): 400% or more,5.1,0.7,4.0,0.6,4.0,0.6,3.7,0.6,5.1,...,5.6,0.7,4.7,0.6,5.8,0.7,5.2,0.6,6.6,1.1
4,(White only): Below 100%,24.3,1.0,23.0,1.1,22.1,1.1,22.8,1.1,20.9,...,19.0,1.1,17.5,0.8,18.3,0.9,19.7,1.0,21.3,1.7

In [14]:
residence_location_data = pd.read_csv(r"Resources\Aaliyah Data\Residence_Location_Data.csv")


residence_location_data.head()

,Characteristic,1997,SE,1998,SE.1,1999,SE.2,2000,SE.3,2001,...,2015,SE.18,2016,SE.19,2017,SE.20,2018,SE.21,2019,SE.22
0,Within MSA,10.2,0.2,9.1,0.2,8.7,0.2,8.7,0.2,9.0,...,9.6,0.2,9.5,0.2,9.7,0.2,10.7,0.2,11.8,0.3
1,Outside MSA,12.5,0.4,11.0,0.5,11.4,0.5,11.5,0.5,11.5,...,11.0,0.5,11.7,0.6,12.0,0.6,13.2,0.6,14.4,0.9

In [123]:
#residence_location_data.columns

In [124]:
#residence_location_data = residence_location_data.set_index('Characteristic')

#residence_location_data

In [125]:
#residence_within_msa = residence_location_data.loc['Within MSA']

#years = [col for col in residence_within_msa.index if not col.startswith('SE')]

#values = residence_within_msa[years].values

#plt.figure(figsize=(15,4))
#plt.plot(years, values, marker='o')
#plt.xlabel('Year')
#plt.ylabel('Value')
#plt.title('Data for Within MSA')
#plt.grid(True)
#plt.show()

# ALEXANDRA CODE SECTION

In [31]:
import pandas as pd
import datetime as dt